*{
    margin: 0;
    padding: 0;
}

.container{
    text-align: center;
    margin-top: 23px;
}

table{
    margin: auto;
}

#screen{
    font-size: 34px;
    border-radius: 10px;
    margin-bottom: 10px;
    width: 380px;
}

button{
    font-size: 40px;
    background: white;
    width: 94px;
    height: 60px;
    border-radius: 10px;
}

.calculator{
    display: inline-block;
    background-color: rgb(215, 116, 40);
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
}

h1{
    color: rgb(179, 12, 201);
}